@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
.tuttie-fruittie-h1 {
  font-family: "Aclonica", sans-serif;
  font-size: 10rem;
  line-height: 1;
}

.food-img {
  height: 18rem;
  width: 10rem;
}